<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-primary">
            <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">SISTEMA WEB</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="/">Cadastrar</a>
                            <a class="nav-link active" aria-current="page" href="/consulta">Consultar</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <h2 class="text-start">Confirmar Exclusão</h2>
            <p class="text-start">Tem certeza que deseja excluir o usuário?</p>
            <form action="/excluir" method="POST">
                <input type="hidden" name="id" value="{{post.id}}">
                <div class="mb-3 text-start">
                    <label class="form-label">Nome:</label>
                    <input type="text" name="nome" class="form-control" value="{{post.nome}}" readonly>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Telefone:</label>
                    <input type="text" name="telefone" class="form-control" value="{{post.telefone}}" readonly>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Origem:</label>
                    <input type="text" name="origem" class="form-control" value="{{post.origem}}" readonly>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Data de Contato:</label>
                    <input type="text" name="data_contato" class="form-control" value="{{post.data_contato}}" readonly>
                </div>
                <div class="mb-3 text-start">
                    <label class="form-label">Observação:</label>
                    <input type="text" name="observacao" class="form-control" value="{{post.observacao}}" readonly>
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                </div>
            </form>
            <a href="/consulta" class="btn btn-primary">Cancelar</a>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>